extends ../layout.pug

block script
    script(type='text/javascript').
        var items = !{JSON.stringify(items)}
 
    script(src="scripts/itemsIndex.js" defer)


block content
    .nav.d-flex.justify-content-between
        a.nav-link(href='/calendar') 
            i.fas.fa-angle-double-left 
            span  Back
    
    .container
        .row
            .col-9 
            .col-3 
                .card Action menu