extends ../layout.pug

block content
    .card.w-75.m-auto
        .card-body
            h4.card-title Register:
            form(method="POST" action='/users/signup')
                .form-group
                    label(for='email') Email Address:
                    input.form-control(type='text' placeholder='jdoe@gmail.com' name='email' autocomplete='username' required)
                .form-group
                    label(for='password') Password:
                    input.form-control(type='password' name='password' minlength='8' autocomplete='new-password' required)
                    small.form-text.text-muted Password must be at least 8 characters.
                .form-group
                    label(for='displayName') Username:
                    input.form-control(type='text' placeholder='eg. John D.' name='username' required)
                button.btn.btn-outline-dark(type="submit") Register
            div
                a(href="/users/login") Sign In